.accordion {
  display: grid;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all .3s;
}

.accordion-header p {
  margin: 0;
}

.open-item {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.accordion-body {
  border-radius: 3px;
  transition: all 0.4s ease;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;

  &>* {
    overflow: hidden;
  }
}

.accordion-item.active .accordion-body {
  opacity: 1;
  padding: 0;
  grid-template-rows: 1fr;
  transform: scaleY(1);
}

.accordion-item.active .open-item-plus{
  div:first-child{
    width: 3px;
  }
}

.open-item-plus {
  position: relative;
  min-height: 17px;
  min-width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    position: absolute;
    width: 17px;
    height: 3px;
    background-color: var(--gray);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;

    &:first-child {
      transform: rotate(90deg) translateY(-1px);
    }

    &:last-child {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}