.breadcrumbs {
  position: absolute;
  top: 20px;
  width: 100%;
  left: 0;

  @include lg {
      top: 15px;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;

    @include md {
        gap: 0 2px;
    }
  }

  &__item,
  &__link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);

    @include md {
        font-size: 12px;
    }
  }

  &__link {
    font-weight: 500;
    color: var(--primary);
    position: relative;
    transition: all 0.3s ease-in-out;

    @include hover {
      transform: scaleY(1.2);
    }
  }
}