<div class="big-auto-swiper swiper">
  <div class="swiper-wrapper">
    @@for (var i = 0; i < images.length; i++) { 
      <div class="big-auto-swiper__slide swiper-slide">
        <a class="big-auto-swiper__link" href="images/`+images[i]+`.webp" data-fancybox="big-auto-swiper">
          <img class="big-auto-swiper__img _img" src="images/`+images[i]+`.webp" alt="`+images[i]+`">
        </a>
      </div>
    }
    @@for (var i = 0; i < images.length; i++) { 
      <div class="big-auto-swiper__slide swiper-slide">
        <a class="big-auto-swiper__link" href="images/`+images[i]+`.webp" data-fancybox="big-auto-swiper">
          <img class="big-auto-swiper__img _img" src="images/`+images[i]+`.webp" alt="`+images[i]+`">
        </a>
      </div>
    }

  </div>
</div>