.footer {
  background-color: var(--default-color);

  &__top {
    padding: 70px 0 75px;

    @include xxl {
      padding: 40px 0;
    }

    @include md {
      padding: 30px 0;
    }
  }

  &__row {
    display: flex;
    align-items: start;

    @include xl {
      flex-wrap: wrap;
    }

    @include lg {
      gap: 20px;
    }

    @include sm {
        flex-direction: column;
    }
  }

  &__start-links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include xxl {
      margin-top: 20px;
    }

    @include lg {
      margin-top: 10px;
      gap: 5px;
    }
  }

  &__start-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--light-color);
  }

  &__menu {
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 25px;

    @include xxl {
      gap: 10px;
      margin-right: 10px;
    }

    @include lg {
      order: 1;
    }

    @include md {
      flex-wrap: wrap;
      gap: 15px;
      margin: 0;
    }

    @include sm {
        order: 0;
    }
  }

  &__menu-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--light-color);
  }

  &__menu-list {
    margin-top: 10px;
    display: grid;
    gap: 7px;
  }

  &__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--light-color);
  }

  &__ui {
    @include lg {
      margin-left: auto;
    }

    @include sm {
        margin: 0;
    }
  }

  &__ui-top {
    display: flex;
    align-items: center;
    gap: 30px;

    @include xxl {
      gap: 15px;
    }
  }

  .social-block {
    @include xxl {
      gap: 15px;
    }

    svg {
      transition: all 0.3s ease-in-out;

      path {
        fill: var(--light-color);
      }
    }

    &__link {
      &:hover {
        svg {
          scale: 1.2;
        }
      }
    }
  }

  &__phone-block {
    color: var(--light-color);

    @include xxl {
      font-size: 22px;
    }
  }

  &__ui-bottom {
    margin-top: 10px;
    margin-left: auto;
    max-width: 235px;
    width: 100%;
  }

  &__ui-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 180px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
    background-color: transparent;

    @include hover {
      color: rgba(255, 255, 255, 1);
      background-color: var(--primary);
      border-color: rgba(255, 255, 255, 0);
    }
  }

  &__ui-links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include xxl {
      margin-top: 20px;
      gap: 15px;
    }
  }

  &__ui-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--light-color);
    transition: all 0.3s ease-in-out;

    svg path {
      transition: all 0.3s ease-in-out;
      stroke: var(--light-color);
    }

    @include hover {
      color: var(--primary);

      svg path {
        stroke: var(--primary);
      }
    }
  }

  &__center {
    margin-top: 20px;
    display: flex;
    align-items: start;

    @include lg {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__center-copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--light-color);
  }

  &__center-links {
    margin-left: 54px;
    display: flex;
    flex-wrap: wrap;
    max-width: 705px;
    gap: 20px 40px;

    @include xxl {
      margin-left: 20px;
      max-width: 680px;
      gap: 15px;
    }

    @include xl {
      max-width: 430px;
      gap: 10px;
      order: -1;
      margin-left: 0;
    }

    @include lg {
      order: 1;
    }
  }

  &__center-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    color: var(--light-color);
    opacity: 0.4;
  }

  &__center-socials {
    max-width: 235px;
    width: 100%;
    margin-left: auto;

    @include lg {
      margin-left: 0;
    }
  }

  &__center-soc {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__center-social {
    transition: all 0.3s ease-in-out;

    @include hover {
      scale: 1.2;
    }
  }

  &__bottom {
    padding: 30px 0;
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg {
      padding: 20px 0;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__bottom-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: rgba($color: #FFFFFF, $alpha: 0.4);

    @include xl {
      max-width: 600px;

      br {
        display: none;
      }
    }
  }

  &__tfa {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: .3;
  }

  &__tfa-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}