.front-block-adviсe,
.front-block-guarantee,
.front-block-delivery,
.free-measurement,
.front-block-action,
.front-block-vacancies,
.front-block-designer,
.front-block-reviews {
  padding: var(--indent-front) 0;

  .overlay {
    @include xl {
      display: block;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  &__subtitle {
    text-align: left;
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 127%;

    @include xl {
      font-size: 28px;
    }

    @include lg {
      margin-top: 15px;
      font-size: 26px;
    }

    @include md {
      margin-top: 10px;
      font-size: 22px;
    }

    @include sm {
      font-size: 20px;
    }

    span {
      font-weight: 500;
    }
  }

  &__btns {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    max-width: 550px;

    @include xl {
      margin-top: 30px;
    }

    @include lg {
      margin-top: 20px;
    }

    @include md {
      margin-top: 15px;
    }

    @include xs {
      flex-direction: column;
    }
  }

  &__btn {
    max-width: 270px;

    @include xs {
      max-width: 300px;
    }
  }

}


.front-block-reviews {
  background-image: url('../images/front-block-reviews-bg.webp');
}

.front-block-designer {
  background-image: url('../images/front-block-designer-bg.webp');
}

.front-block-vacancies {
  background-image: url('../images/front-block-vacancies-bg.webp');
}

.front-block-action {
  background-image: url('../images/front-block-action-bg.webp');
}

.free-measurement {
  background-image: url('../images/free-measurement-bg.webp');
}

.front-block-delivery {
  background-image: url('../images/front-block-delivery-bg.webp');
}

.front-block-guarantee {
  background-image: url('../images/front-block-guarantee-bg.webp');

  .overlay {
    @include xl {
      display: block;
      background-color: rgba($color: #ffffff, $alpha: 0.3);
    }
  }

  &__btn {
    max-width: 340px;
  }
}

.front-block-adviсe{
  background-image: url('../images/front-block-adviсe-bg.webp');

  &__subtitle{
    margin-bottom: 0;
  }
}