.front-block-cases,
.front-block-single {
  padding: var(--indent-front) 0;
  background-color: var(--bg-dark);

  @include lg {
    padding-top: 80px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 50px;

    @include xxl {
      gap: 20px;
    }

    @include lg {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

  &__left {
    max-width: 720px;
  }

  &__title {
    text-align: left;
    margin-bottom: 0;

    @include xxl {
      br {
        display: none;
      }
    }
  }

  &__btns {
    margin-top: 30px;
    max-width: 550px;
    display: flex;
    align-items: center;
    gap: 10px;

    @include xl {
      margin-top: 20px;
    }

    @include lg {
      margin-top: 15px;
      max-width: none;
    }

    @include sm {
      margin-top: 10px;
    }
  }

  &__right {
    max-width: 670px;
    width: 100%;

    @include xxl {
      max-width: 520px;
    }

    @include xl {
      max-width: 480px;
    }

    @include lg {
      margin: 0 auto;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding-bottom: 100%;

    @include xs {
      padding-bottom: 69%;
    }
  }


}


.front-block-single {
  &__inner {
    align-items: start;
  }

  &__price {
    margin-top: 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 122%;

    @include xl {
      margin-top: 20px;
      font-size: 32px;
    }

    @include lg {
      font-size: 26px;
      margin-top: 15px;
    }

    @include sm {
      margin-top: 10px;
      font-size: 22px;
    }

    span {
      font-weight: 500;
    }
  }

  &__variants {
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--gray);

    @include xl {
      margin-top: 20px;
    }

    @include lg {
      margin-top: 15px;
    }

    @include sm {
      margin-top: 10px;
    }
  }

  &__images {
    margin-top: 10px;
    max-width: 580px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @include xl {
      gap: 10px;
    }

    @include lg {
      max-width: none;
    }
  }

  &__image-wrapper {
    position: relative;
    padding-bottom: 100%;
  }

  &__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include xl {
      margin-top: 20px;
      gap: 10px;
    }

    @include lg {
      margin-top: 15px;
    }

    @include sm {
      margin-top: 10px;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--gray);

    @include sm {
      font-size: 14px;
    }
  }

  &__item-text {
    margin-top: 5px;

    @include xl {
      margin-top: 0;
    }

    @include sm {
      font-size: 14px;
    }
  }

  &__bottom-text {
    margin-top: 40px;
    color: var(--light-color);
    opacity: 0.6;

    @include xl {
      margin-top: 30px;
    }

    @include lg {
      margin-top: 20px;
    }

    @include sm {
      margin-top: 10px;
      font-size: 14px;

      br {
        display: none;
      }
    }
  }

  &__right {
    padding-bottom: 27px;

    @include lg {
      padding-bottom: 20px;
    }
  }
}

.front-block-cases{
  .swiper-pagination{
    bottom: 20px;
  }
}