.included-measurement,
.key-decisions {
  padding-top: var(--indent);

  &__swiper {
    overflow: visible;

    &:has(.swiper-scrollbar) {
      padding-bottom: 50px;

      @include xl {
        padding-bottom: 40px;
      }

      @include lg {
        padding-bottom: 30px;
      }

      @include sm {
        padding-bottom: 20px;
      }
    }
  }

  &__item {
    display: block;
    position: relative;
    overflow: hidden;

    @include lg {
      .overlay {
        display: block;
      }
    }
  }

  &__item-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px;

    @include xxl {
      padding: 30px;
    }

    @include lg {
      padding: 25px;
    }
  }
}

.key-decisions {

  &__title {
    margin-bottom: 0;
  }

  &__item {
    padding-bottom: calc(450/711*100%);
    min-height: 450px;

    @include xxl {
      min-height: 420px;
    }

    @include xl {
      min-height: 380px;
    }

    @include lg {
      min-height: 420px;
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 122%;

    @include xxl {
      font-size: 32px;
    }

    @include xl {
      font-size: 28px;
    }

    @include lg {
      font-size: 24px;
    }
  }

  &__item-list,
  &__item-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;

    @include xl {
      margin-top: 10px;
      font-size: 18px;
    }

    @include lg {
      margin-top: 5px;
    }

    @include sm {
      font-size: 16px;
    }
  }

  &__item-list {
    display: grid;
    gap: 7px;

    @include lg {
      gap: 0;
    }
  }
}

.included-measurement {
  &__item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(600/468*100%);
    min-height: 450px;

    @include xxl {
      min-height: 420px;
    }

    @include xl {
      min-height: 380px;
    }

    @include lg {
      .overlay {
        display: block;
      }
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }
}

#delivery-page {
  .included-measurement {
    &__title {
      margin-bottom: 0;
    }
  }
}