.spectrum-materials,
.full-cycle,
.controlling-path,
.produce-furniture {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    @include xl {
      gap: 15px;
    }

    @include lg {
      gap: 10px;
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    min-height: 468px;

    @include xxl {
      min-height: 420px;
    }

    @include xl {
      min-height: 380px;
    }

    @include lg {
      width: 300px;
      min-height: 360px;

      .overlay {
        display: block;
      }
    }
  }

  &__item-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px;

    @include xxl {
      padding: 30px;
    }

    @include lg {
      padding: 25px;
    }
  }
}

.produce-furniture {
  margin-top: var(--indent);
  padding-bottom: var(--indent);
  background-color: #f9f9f9;

  &__item {
    @include hover {
      img {
        scale: 1.3;
      }

      .produce-furniture__item-arrow {
        background-color: var(--accent);
      }
    }
  }

  &__item-arrow {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    @include xl {
      width: 50px;
      height: 50px;
      right: 15px;
      top: 15px;
    }
  }

  &__item-img {
    transition: all 0.5s ease-in-out;
  }
}

.spectrum-materials,
.controlling-path {
  &__title {
    margin-bottom: 0;
  }
}

.produce-furniture,
.controlling-path {
  &__item-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 122%;

    @include xxl {
      font-size: 32px;
    }

    @include xl {
      font-size: 28px;
    }

    @include lg {
      font-size: 26px;
    }

    @include sm {
      font-size: 24px;
    }
  }

  &__item-text {
    margin-top: 15px;

    @include lg {
      margin-top: 10px;
    }
  }
}

.full-cycle {
  &__item-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 129%;

    @include lg {
      font-size: 26px;
    }

    @include md {
      font-size: 24px;
    }

    @include sm {
      font-size: 22px;
    }
  }
}

.spectrum-materials {
  &__item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;

    span{font-weight: 600;}
  }
}