.production-base,
.responsibility {
  padding-top: var(--indent);
}

.realistic-3d-project {
  background-color: var(--default-color);
  margin-top: var(--indent);
  padding: var(--indent) 0;
}


.production-base,
.realistic-3d-project {
  &__title {
    margin-bottom: 0;
  }
}