.preparing-order,
.branches,
.review-videos {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    @include xxl {
      gap: 15px;
    }

    @include xl {
      gap: 10px;
    }

    @include lg {
      padding-bottom: 10px;
      grid-auto-flow: column;
      overflow-x: auto;
    }
  }

  &__item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(700/468*100%);
    min-height: 350px;

    @include lg {
      width: 300px;
      padding-bottom: 136%;

      .overlay {
        display: block;
      }
    }
  }

  &__item-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px;

    @include xxl {
      padding: 35px;
    }

    @include xl {
      padding: 20px;
    }

  }

  &__item-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 129%;

    @include xxl {
      font-size: 26px;
    }

    @include xl {
      font-size: 22px;
    }
  }

  &__item-text {
    margin-top: 15px;

    @include xl {
      br {
        display: none;
      }
    }
  }

}

.review-videos {
  margin-top: var(--indent);
  padding-bottom: var(--indent);
  background-color: #F9F9F9;

  &__title {
    margin-bottom: 0;
  }

  &__item-inner {
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/icons/dots.svg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 31px;
      height: 28px;
      left: 30px;
      top: 30px;
    }
  }
}


#reviews-page {
  .review-videos {
    margin-top: 0;
    background-color: var(--light-color);
    padding-bottom: 0;
  }
}

#designer-page .review-videos,
#reviews-page .review-videos {
  &__title {
    margin-bottom: 40px;

    @include xl {
      margin-bottom: 35px;
    }

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 25px;
    }

    @include sm {
      margin-bottom: 20px;
    }
  }
}

#about-page {
  .branches {
    &__title {
      margin-bottom: 0;
    }
  }
}