.strict-work {
  padding-top: var(--indent);

  &__items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    @include xxl {
        gap: 20px;
    }

    @include xl {
        margin-top: 40px;
    }

    @include lg {
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        margin-top: 20px;
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item-num {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: var(--primary);

    @include xl {
        font-size: 30px;
    }

    @include lg {
        font-size: 26px;
    }

    @include md {
        font-size: 24px;
    }
  }

  &__item-hr {
    margin: 25px 0;
    max-width: 300px;
    height: 1px;
    background-color: var(--gray);

    @include xl {
      margin: 20px 0;
    }

    @include lg {
      margin: 15px 0;
    }

    @include md {
      margin: 10px 0;
    }

    @include sm {
        max-width: none;
    }
  }

  &__item-text {
    span {
      font-weight: 600;
    }
    @include xxl {
        br{display: none;}
    }
  }
}