.take-care {
  padding-top: var(--indent);

  &__inner {
    display: flex;
    align-items: center;
    gap: 40px;

    @include xl {
      gap: 30px;
    }

    @include lg {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 15px;
    }

    @include sm {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: grid;
    gap: 7px;

    li {
      padding-left: 23px;

      &::before {
        background-image: url(../images/icons/check.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 13px;
        height: 10px;
        top: 8px;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }


  &__right {
    max-width: 807px;
    width: 100%;

    @include xxl {
      max-width: 540px;
    }

    @include xl {
      max-width: 420px;
    }

    @include lg {
      max-width: 550px;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(510/814*100%);
  }
}