.video-more {
  padding-top: var(--indent);

  &__link {
    display: block;
    position: relative;
    padding-bottom: calc(700/1600*100%);
    overflow: hidden;

    @include sm {
      padding-bottom: 63%;
    }

    .play {
      &__inner {
        width: 160px;
        height: 160px;

        @include xl {
          width: 100px;
          height: 100px;
        }

        @include sm {
          width: 60px;
          height: 60px;
        }
      }

      svg {
        width: 22px;

        @include sm {
          width: fit-content;
        }
      }

      svg {

        &.play__text {
          position: absolute;
          width: 145px;
          height: 145px;

          @include xl {
            width: 90px;
            height: 90px;
          }

          @include sm {
            width: 55px;
            height: 55px;
          }
        }

        textPath {
          font-size: 16px;
          line-height: calc(12/32*100%);
          font-weight: 700;
          color: var(--light-color);
          text-transform: uppercase;
        }
      }


    }
  }
}